/* 
    Document   : style
    Created on : Jan 28, 2013, 9:23:46 PM
    Author     : pili
    Description:
        Purpose of the stylesheet follows.
Main style sheet for SX3 website rediesign Feb 2013

table of contents

@group Default type styling
@group Header
@group Navigation
@group Footer

     
@group Home Page
@group Instruction Page
@group FlatIron Page
@group Hair Treatment Page
@group FAQ Page
@group Salons Page
@group Contact Page
@group media querries 


Colours

pink #FF1493
*/


/* @group Default type styling
====================================================================== */
.hero-unit{
padding-top: 40px;
padding-bottom: 40px;
font-family: 'Julius Sans One', arial, sans-serif;
    font-weight: 400;   
}

.hero-unit h1{
    color:#FF1493;
    font-size: 5em;
}


.hero-unit p{
    color: #504A4B;
    font-size: 16px;
    font-family: 'Gudea', sans-serif; 
    font-style: bold;
    padding: 0;
    letter-spacing: 1px;
}
strong{
    color:#FF1493;
}


/* @end */


/* @group Header
====================================================================== */

/* @end */


/* @group Navigation
====================================================================== */

/* @end */


/* @group Footer
====================================================================== */

/* @end */


/* @group Home Page
====================================================================== */
#introduction{
    line-height: 30px;
    font-size: 20px;
    
}

#introduction a{
    text-decoration: none;
}

article{
    line-height: 30px;
    font-size: 20px;
}

/* @end */


/* @group Instruction Page
====================================================================== */
#wrapper_faq{
   font-size: 20px;
   line-height: 30px;
}

table {
    width:100%;
}
th{
    height:30px;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

td{
   height:20px; 
   font-size: 1.2em;
   padding-left: ;
  
   
}

/* @end */


/* @group FlatIron Page
====================================================================== */

/* @end */


/* @group Hair Treatment Page
====================================================================== */

/* @end */


/* @group FAQ Page
====================================================================== */

/* @end */


/* @group Salons Page
====================================================================== */

/* @end */


/* @group Contact Page
====================================================================== */

/* @end */


/* @group Media Querries
====================================================================== */

/* @end */